alembic
async-timeout
bcrypt
blinker
click
colorama
dnspython
email-validator
Flask
Flask-Bcrypt
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
python-dotenv
redis
SQLAlchemy
typing_extensions
Werkzeug
WTForms
zipp
